@model User

@{
    ViewData["Title"] = "Update";
}

<form asp-action="Update" method="POST">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text">

    <label asp-for="Email">Login</label>
    <input asp-for="Email" type="text">

    <label asp-for="Password">Password</label>
    <input asp-for="Password" type="text">

    <input type="submit" value="Update">
</form>

<div>
    @ViewBag.Message
</div>